* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("./assets/freedom.jpg");
    background-size: cover;
}
#main {
    width: 90%;
    margin: 100px auto;
    text-align: center;
    color: rgb(51, 51, 51);
}
#quote {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    line-height: 1.5;
    
}
#cite {
    margin-top: 50px;
    font-family: serif;
    font-style: italic;
}
